# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# BAN_Data
data/dgm1l-ab_32359_5654_1_nw.xyz
data/dgm1l-ag_32359_5654_1_nw.xyz
data/dgm1l-brk_32359_5654_1_nw.xyz
data/dgm1l-lpb_32359_5654_1_nw.xyz
data/dgm1l-lpnb_32359_5654_1_nw.xyz
data/dgm1l-lpub_32359_5654_1_nw.xyz
data/dom1l-fp_32359_5654_1_nw.xyz
data/dop10cir_32359_5654_1_nw_2016.tif
data/dop10cir_32359_5654_1_nw-LZW.tif